<h2>Xuân Bách Profile</h2>
<img class="img-fluid" height="200" src="<?php echo $this->getViewFileUrl('Bach_Information::image/bach.jpg'); ?>" />
<br/>
Name :<strong>An Xuân Bách</strong><br/>
Age : 28<br/>
Information: đẹp trai mỗi tội sắp lấy vợ =))))